

  <!-- Sidebar -->
  <div class="bg-light border-right " id = "sidebar-wrapper" >
    <div class="sidebar-heading font-weight-bold">DANH MỤC CHÍNH</div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light"  routerLink="/list-of-classes" routerLinkActive="active">Danh sách các khóa học</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Thông tin cá nhân</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Đăng xuất</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
