.iconSearch {
  font-size: 33px !important;
  margin-top: 4px;
  cursor: pointer;
}

#page-content-wrapper {
  min-width: 100vw;
}

@media (min-width: 768px) {

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

}
