<div class="container">
  <div class="row">
    <div class="col-5 ">
      <button class="levelCourses bg-level text-dark mt-5 ml-5 display-1">{{dataCourses?.coursesLevel}}</button>
    </div>

    <div class="col-7">
      <table class="table table-bordered mt-5">
        <tbody>
          <tr>
            <td class="text-center">Tên lớp học</td>
            <td>{{dataCourses.coursesName}}</td>
          </tr>
          <tr>
            <td class="text-center">Cấp độ</td>
            <td></td>
          </tr>
          <tr>
            <td class="text-center">Ngày bắt đầu</td>
            <td></td>
          </tr>
          <tr>
            <td class="text-center">Ngày kết thúc</td>
            <td></td>
          </tr>
          <tr>
            <td class="text-center">Giáo viên</td>
            <td></td>
          </tr>
          <tr>
            <td class="text-center">Phòng học</td>
            <td></td>
          </tr>
          <tr>
            <td class="text-center">Thời gian học</td>
            <td >
              <span></span>


            </td>
          </tr>
          <tr>
            <td class="text-center">Trạng thái</td>
            <td></td>
          </tr>
          <tr>
            <td class="text-center">Số học viên tối đa</td>
            <td></td>
          </tr>
          <tr>
            <td class="text-center">Số học viên hiện tại</td>
            <td></td>
          </tr>
          <tr>
            <td class="text-center">Thời hạn đăng ký</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2" class="bg-info h5 registration text-light text-center"> Đăng ký</td>
          </tr>
        </tbody>
      </table>


    </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Mã nhân viên</th>
          <th scope="col" class="fullName"> Họ và tên</th>
          <th scope="col">Giới tính</th>
          <th scope="col" class="birthDay">Ngày sinh</th>
          <th scope="col">Số điện thoại</th>
          <th scope="col">Email</th>
          <th scope="col">Bộ phận</th>
          <th scope="col">Cấp độ hiện tại</th>
          <!-- <th scope="col">Thời gian đăng ký</th> -->
        </tr>
      </thead>
      <tbody >
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <!-- <td></td> -->
          </tr>
      </tbody>
    </table>
  </div>
</div>
