<div class="container">
  <div class="row">
    <div class="col-5 ">
      <button class="levelCourses bg-level text-dark mt-5 ml-5 display-1">{{dataCourses?.coursesLevel}}</button>
    </div>

    <div class="col-7">
      <table class="table table-bordered mt-5">
        <tbody>
          <tr>
            <td class="text-center">Tên lớp học</td>
            <td>{{dataCourses?.coursesName}}</td>
          </tr>
          <tr>
            <td class="text-center">Cấp độ</td>
            <td>{{dataCourses?.coursesLevel}}</td>
          </tr>
          <tr>
            <td class="text-center">Ngày bắt đầu</td>
            <td>{{dataCourses?.startDate | date:'yyyy-MM-dd' }}</td>
          </tr>
          <tr>
            <td class="text-center">Ngày kết thúc</td>
            <td>{{dataCourses?.endDate | date:'yyyy-MM-dd'}}</td>
          </tr>
          <tr>
            <td class="text-center">Giáo viên</td>
            <td>{{dataCourses?.teacher}}</td>
          </tr>
          <tr>
            <td class="text-center">Phòng học</td>
            <td>{{dataCourses?.room}}</td>
          </tr>
          <tr>
            <td class="text-center">Thời gian học</td>
            <td >
              <span *ngFor = "let data of dataTime" >{{data.weeksday}}:{{data.startTime}} - {{data.endTime}}<br></span>


            </td>
          </tr>
          <tr>
            <td class="text-center">Trạng thái</td>
            <td>{{dataCourses?.status ==  1 ? "Chờ mở lớp" : dataCourses?.status == 2 ? "Đang học" : "Đã hết hạn đăng ký" }}</td>
          </tr>
          <tr>
            <td class="text-center">Số học viên tối đa</td>
            <td>{{dataCourses?.maxMember}}</td>
          </tr>
          <tr>
            <td class="text-center">Số học viên hiện tại</td>
            <td>{{dataCourses?.currentMember}}</td>
          </tr>
          <tr>
            <td class="text-center">Thời hạn đăng ký</td>
            <td>{{dataCourses?.deadline | date:'yyyy-MM-dd'}}</td>
          </tr>
          <tr>
            <td colspan="2" class="bg-info h5 registration text-light text-center" style="cursor: pointer;" (click)="open()" > Đăng ký</td>
          </tr>
        </tbody>
      </table>


    </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Mã nhân viên</th>
          <th scope="col" class="fullName"> Họ và tên</th>
          <th scope="col">Giới tính</th>
          <th scope="col" class="birthDay">Ngày sinh</th>
          <th scope="col">Số điện thoại</th>
          <th scope="col">Email</th>
          <th scope="col">Bộ phận</th>
          <th scope="col">Cấp độ hiện tại</th>
          <!-- <th scope="col">Thời gian đăng ký</th> -->
        </tr>
      </thead>
      <tbody *ngFor="let data of dataListClassMember; let i = index">
        <tr>
          <th>{{i+1}}</th>
          <td>{{data.userCode}}</td>
          <td>{{data.fullName}}</td>
          <td>{{data.sex == 1 ? "Nam" : "Nữ"}}</td>
          <td>{{data.birthDate}}</td>
          <td>{{data.phone}}</td>
          <td>{{data.email}}</td>
          <td>{{data.department}}</td>
          <td>{{data.jlptLevel}}</td>
          <!-- <td></td> -->
          </tr>
      </tbody>
    </table>
  </div>
  <ngb-pagination class="d-flex justify-content-end" [collectionSize]="totalElement" [pageSize]="pageSize" [(page)]="page" (pageChange) ="pgChange($event)"  ></ngb-pagination>
</div>
